<%- include('./components/head.ejs') %>
<main class="hidde">
<h1>Debugging 101</h1>
<div class="blob"></div>
<a class="back-home" href="/"><span class="material-icons"> arrow_back </span></a>

<section class="weekly-geeks">
    <article>
        <h2>Debugging 101</h2>
        <p></p>
        
    </article>
</section>
</main>
<%- include('./components/footer.ejs') %>