<%- include('./components/head.ejs') %>
<main class="home">
<h1>WEEKLY GEEK</h1>
<div class="blob"></div>

<section class="weekly-geeks">
    <div>
        <a class="large-links" href="/hidde">Het web is klaar voor geweldig grafisch ontwerp</a>
        <h3>Hidde de Vries <span>13-02-2020</span></h3>
    </div>
    <div>
        <a class="large-links" href="/sanne">Microtransacties</a>
        <h3>Sanne 't Hooft <span>19-02-2020</span></h3>
    </div>
    <div>
        <a class="large-links" href="/funda">Funda</a>
        <h3>Lars<span>26-02-2020</span></h3>
    </div>
    <div class="pad-45">
        <h2 class="artikelen">ARTIKELEN</h2>
    </div>
    <div class="pad-45">
        <a class="large-links" href="/cookies">Cookies in expressjs</a>
    </div>
    <div class="pad-45">
        <a class="large-links" href="/debugging">Debugging 101</a>
    </div>
    <div class="pad-45">
        <a class="large-links" href="/aria">ARIA</a>
    </div>
</section>

<h4>Door Marten de Bruijn</h4>


</main>
<%- include('./components/footer.ejs') %>
