@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #f3d250;
    --accent-color: #90ccf4;
    --neutral-grey: #ececec;
    --dark-accent: #5da2d5;
    --red-color: #f78888;
    --text-color: black;
    --secondary-text-color: white;
    --default-padding: 15px;
  }
}
