:root {
  --primary-color: #fc4445;
  --accent-color: #3feee6;
  --neutral-grey: #ececec;
  --dark-accent: #55bcc9;
  --red-color: #97caef;
  --text-color: black;
  --secondary-text-color: white;
  --default-padding: 15px;
  --normal-blob: #cafafe;
  --normal-blob: #3feee6;
}
